In [1]:
import pandas_datareader as web
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

{'PKG':              Adj Close  Volume
 Date
 2003-05-27    9.476888  317800
 2003-05-28    9.404033  349700
 2003-05-29    9.227086  392300
 2003-05-30    9.367599  525300
 2003-06-02    9.367599  691700
 ...                ...     ...
 2023-05-15  130.440002  685300
 2023-05-16  127.000000  808500
 2023-05-17  128.960007  490600
 2023-05-18  129.229996  398800
 2023-05-19  129.449997  399700

 [5032 rows x 2 columns],
 'AVY':              Adj Close  Volume
 Date
 2003-05-27   32.684902  416300
 2003-05-28   32.985580  465100
 2003-05-29   32.997616  544500
 2003-05-30   33.364464  616900
 2003-06-02   33.721588  322700
 ...                ...     ...
 2023-05-15  173.289993  321500
 2023-05-16  168.190002  664600
 2023-05-17  170.250000  453500
 2023-05-18  171.020004  457600
 2023-05-19  170.800003  389400

 [5032 rows x 2 columns],
 'LTBR':             Adj Close  Volume
 Date
 2005-01-03     234.00      35
 2005-01-04     234.00     326
 2005-01-05     270.00     213
 2005-01-06     270.00     631
 2005-01-07     270.00     766
 ...               ...     ...
 2023-05-15       4.49   62900
 2023-05-16       4.31   74000
 2023-05-17       4.24   47400
 2023-05-18       4.38   42700
 2023-05-19       4.47   46000

 [4627 rows x 2 columns],
 'NMR':             Adj Close   Volume
 Date
 2003-05-27   9.632800    11300
 2003-05-28   9.763730    58300
 2003-05-29   9.988184    47800
 2003-05-30   9.763730    35400
 2003-06-02  10.175231    67300
 ...               ...      ...
 2023-05-15   3.660000   676600
 2023-05-16   3.590000  1536900
 2023-05-17   3.680000   786800
 2023-05-18   3.630000  2615900
 2023-05-19   3.540000  2388700

 [5032 rows x 2 columns],
 'HROW':              Adj Close  Volume
 Date
 2007-09-28  120.000000      50
 2007-10-01  120.000000     838
 2007-10-02  120.000000       0
 2007-10-03  120.000000       0
 2007-10-04  138.000000      40
 ...                ...     ...
 2023-05-15   20.889999  848800
 2023-05-16   21.040001  779800
 2023-05-17   21.610001  423500
 2023-05-18   20.950001  461900
 2023-05-19   21.320000  396700

 [3938 rows x 2 columns],
 'IRM':             Adj Close   Volume
 Date
 2003-05-27   7.006198   802655
 2003-05-28   7.022344   662184
 2003-05-29   6.990057   318433
 2003-05-30   7.085123  1025168
 2003-06-02   7.052835  1184384
 ...               ...      ...
 2023-05-15  55.660000   809400
 2023-05-16  54.349998   789100
 2023-05-17  55.270000   805000
 2023-05-18  55.169998   805400
 2023-05-19  55.360001   851200

 [5032 rows x 2 columns],
 'SNMP':              Adj Close  Volume
 Date
 2006-11-15   95.081932  293490
 2006-11-16   96.684677   35750
 2006-11-17   99.673584   24870
 2006-11-20  100.063423   13920
 2006-11-21   99.716919    8760
 ...                ...     ...
 2023-05-15    0.130000   57100
 2023-05-16    0.120000  153400
 2023-05-17    0.120000  619100
 2023-05-18    0.120000  156000
 2023-05-19    0.120000   22100

 [4155 rows x 2 columns],
 'PLNT':             Adj Close    Volume
 Date
 2015-08-06  14.066927  16172700
 2015-08-07  16.045088   1844500
 2015-08-10  16.423138   1088300
 2015-08-11  15.280199    668600
 2015-08-12  14.761482    550500
 ...               ...       ...
 2023-05-15  69.000000    770400
 2023-05-16  69.059998   1104900
 2023-05-17  69.860001    645500
 2023-05-18  69.660004    797600
 2023-05-19  67.730003   1076800

 [1961 rows x 2 columns],
 'AHLpC': Empty DataFrame
 Columns: [Adj Close, Volume]
 Index: [],
 'THCH':             Adj Close   Volume
 Date
 2021-03-11      9.720     1500
 2021-03-12      9.820    58400
 2021-03-15      9.750    58700
 2021-03-16      9.718      300
 2021-03-17      9.740     1300
 ...               ...      ...
 2023-05-15      3.120  1765100
 2023-05-16      3.310   752100
 2023-05-17      3.450   587400
 2023-05-18      3.430   272400
 2023-05-19      3.170   270100

 [553 rows x 2 columns],
 'OI':             Adj Close   Volume
 Date
 2003-05-27  11.251392   607300
 2003-05-28  11.398405   578400
 2003-05-29  11.143581   916600
 2003-05-30  11.221990   674900
 2003-06-02  11.604223   587500
 ...               ...      ...
 2023-05-15  21.129999   625400
 2023-05-16  20.920000   741100
 2023-05-17  21.480000  1027000
 2023-05-18  21.549999  1009000
 2023-05-19  21.879999   799700

 [5032 rows x 2 columns],
 'KMPR':             Adj Close  Volume
 Date
 2003-05-27  13.396471  190900
 2003-05-28  13.365121   43200
 2003-05-29  13.333776   64200
 2003-05-30  13.678615   68700
 2003-06-02  13.918958   94100
 ...               ...     ...
 2023-05-15  44.669998  215300
 2023-05-16  44.669998  369900
 2023-05-17  45.200001  300200
 2023-05-18  45.450001  354300
 2023-05-19  44.490002  198500

 [5032 rows x 2 columns],
 'DOOR':             Adj Close  Volume
 Date
 2009-07-24  20.000000    1200
 2009-07-27  20.000000       0
 2009-07-28  28.000000   16400
 2009-07-29  27.750000   24900
 2009-07-30  28.500000   38700
 ...               ...     ...
 2023-05-15  91.279999   89300
 2023-05-16  91.529999  102400
 2023-05-17  94.669998   88000
 2023-05-18  96.339996  113900
 2023-05-19  94.410004   65600

 [3480 rows x 2 columns],
 'ASH':             Adj Close   Volume
 Date
 2003-05-27   9.498563  1116832
 2003-05-28   9.443949  1332383
 2003-05-29   9.376051   895806
 2003-05-30   9.582702   865439
 2003-06-02   9.594506   897797
 ...               ...      ...
 2023-05-15  92.059998   672300
 2023-05-16  90.849998   570900
 2023-05-17  91.330002   536700
 2023-05-18  90.860001   634200
 2023-05-19  90.389999   494300

 [5032 rows x 2 columns],
 'TRTX':             Adj Close   Volume
 Date
 2017-07-20   9.729859  5695400
 2017-07-21   9.774583   713300
 2017-07-24   9.814335   733300
 2017-07-25   9.739797   490200
 2017-07-26   9.814335  1190500
 ...               ...      ...
 2023-05-15   5.560000   383700
 2023-05-16   5.460000   295600
 2023-05-17   5.640000   541900
 2023-05-18   5.680000   341100
 2023-05-19   5.680000   272400

 [1469 rows x 2 columns],
 'MYO':              Adj Close  Volume
 Date
 2017-06-12  222.000000    7607
 2017-06-13  221.100006    3487
 2017-06-14  203.009995    1183
 2017-06-15  270.000000   18243
 2017-06-16  433.500000   60440
 ...                ...     ...
 2023-05-15    0.490000  172300
 2023-05-16    0.491000  143600
 2023-05-17    0.471000  207800
 2023-05-18    0.465000  157600
 2023-05-19    0.445000  487100

 [1490 rows x 2 columns],
 'INM':              Adj Close  Volume
 Date
 2014-05-05  219.449997       5
 2014-05-06  212.850006       9
 2014-05-07  229.350006       6
 2014-05-08  217.800003       8
 2014-05-09  217.800003       0
 ...                ...     ...
 2023-05-15    1.160000  140700
 2023-05-16    1.150000  102800
 2023-05-17    1.150000   36400
 2023-05-18    1.390000  575500
 2023-05-19    1.370000  414200

 [2278 rows x 2 columns],
 'ACRpD': Empty DataFrame
 Columns: [Adj Close, Volume]
 Index: [],
 'AON':              Adj Close   Volume
 Date
 2003-05-27   19.155594  1581800
 2003-05-28   19.445595  1382700
 2003-05-29   19.430326  1377100
 2003-05-30   19.582954  1187700
 2003-06-02   19.727962  1281100
 ...                ...      ...
 2023-05-15  334.440002   561800
 2023-05-16  330.940002   545300
 2023-05-17  322.230011  1340200
 2023-05-18  324.230011   815900
 2023-05-19  327.119995  1274000

 [5032 rows x 2 columns],
 'WHLR':             Adj Close  Volume
 Date
 2012-11-19  27.519947     475
 2012-11-20  28.024469    4125
 2012-11-21  28.070328     275
 2012-11-23  27.519947     525
 2012-11-26  27.244741    2650
 ...               ...     ...
 2023-05-15   0.916000    8300
 2023-05-16   0.845000   23700
 2023-05-17   0.802000   22100
 2023-05-18   0.776000   15600
 2023-05-19   0.750000    4500

 [2643 rows x 2 columns],
 'CLSD':             Adj Close   Volume
 Date
 2016-06-02       7.25  1979500
 2016-06-03       7.06   569900
 2016-06-06       7.00   245500
 2016-06-07       6.92    56800
 2016-06-08       7.00   147400
 ...               ...      ...
 2023-05-15       1.07    92300
 2023-05-16       1.04   258300
 2023-05-17       1.04    60900
 2023-05-18       1.01    88200
 2023-05-19       1.02   107000

 [1754 rows x 2 columns],
 'ESGE':             Adj Close   Volume
 Date
 2016-07-20  23.919523      200
 2016-07-21  23.954424      600
 2016-07-22  23.954424        0
 2016-07-25  23.819162     2000
 2016-07-26  23.819162        0
 ...               ...      ...
 2023-05-15  31.299999   379500
 2023-05-16  31.110001   302600
 2023-05-17  31.240000  1016300
 2023-05-18  31.100000   632600
 2023-05-19  31.160000   426700

 [1721 rows x 2 columns],
 'APGB':             Adj Close  Volume
 Date
 2021-04-05       9.85     800
 2021-04-06       9.80   39900
 2021-04-07       9.90  450000
 2021-04-08       9.85  363900
 2021-04-09       9.85  538400
 ...               ...     ...
 2023-05-15      10.18  186800
 2023-05-16      10.19    2200
 2023-05-17      10.19  177300
 2023-05-18      10.19    4100
 2023-05-19      10.30  772000

 [537 rows x 2 columns],
 'LUNA':             Adj Close  Volume
 Date
 2006-06-05       6.08  134200
 2006-06-06       6.10   90000
 2006-06-07       6.09  124200
 2006-06-08       6.09   23100
 2006-06-09       6.06   44600
 ...               ...     ...
 2023-05-15       7.92  342600
 2023-05-16       7.93  178400
 2023-05-17       8.28  231100
 2023-05-18       8.32  242600
 2023-05-19       8.15  176800

 [4270 rows x 2 columns],
 'GSMG':             Adj Close   Volume
 Date
 2018-09-12       9.52  2003600
 2018-09-13       9.52        0
 2018-09-14       9.50      200
 2018-09-17       9.50   200200
 2018-09-18       9.52      600
 ...               ...      ...
 2023-05-15       0.65   423300
 2023-05-16       0.65   278100
 2023-05-17       0.65   319000
 2023-05-18       0.66   184200
 2023-05-19       0.66   191900

 [1180 rows x 2 columns],
 'RSI':             Adj Close  Volume
 Date
 2020-04-27       9.79    4100
 2020-04-28       9.79       0
 2020-04-29       9.79       0
 2020-04-30       9.79       0
 2020-05-01       9.79       0
 ...               ...     ...
 2023-05-15       3.06  751600
 2023-05-16       2.91  381000
 2023-05-17       3.13  636900
 2023-05-18       3.18  275400
 2023-05-19       3.11  204800

 [773 rows x 2 columns],
 'RAMP':             Adj Close  Volume
 Date
 2003-05-27  14.088940  546800
 2003-05-28  13.773727  762200
 2003-05-29  14.146248  737700
 2003-05-30  14.318179  435500
 2003-06-02  13.649550  834600
 ...               ...     ...
 2023-05-15  24.799999  591700
 2023-05-16  24.879999  229100
 2023-05-17  25.370001  334300
 2023-05-18  26.350000  739900
 2023-05-19  26.520000  439100

 [5032 rows x 2 columns],
 'AIZ':              Adj Close    Volume
 Date
 2004-02-05   17.640158  27565200
 2004-02-06   17.747288   5284400
 2004-02-09   17.475903   3252900
 2004-02-10   17.390200   1651600
 2004-02-11   17.318777   2010200
 ...                ...       ...
 2023-05-15  130.660004    372900
 2023-05-16  129.470001    232500
 2023-05-17  130.080002    338600
 2023-05-18  131.789993    442900
 2023-05-19  128.979996    329400

 [4856 rows x 2 columns],
 'APPS':             Adj Close   Volume
 Date
 2006-07-06       2.10     2100
 2006-07-07       2.20     2000
 2006-07-10       2.20        0
 2006-07-11       2.20      450
 2006-07-12       2.20     3950
 ...               ...      ...
 2023-05-15      12.63  1080900
 2023-05-16      12.42   971100
 2023-05-17      13.33  2555700
 2023-05-18      14.02  2036200
 2023-05-19      13.78  1510600

 [4248 rows x 2 columns],
 'CALX':             Adj Close   Volume
 Date
 2010-03-24  15.100000  5530700
 2010-03-25  14.250000  1213400
 2010-03-26  13.620000   685400
 2010-03-29  13.250000   507200
 2010-03-30  13.690000   272100
 ...               ...      ...
 2023-05-15  44.509998   797200
 2023-05-16  45.049999   912900
 2023-05-17  45.930000   476900
 2023-05-18  46.950001   554800
 2023-05-19  45.959999   480000

 [3313 rows x 2 columns],
 'ASTI':             Adj Close   Volume
 Date
 2022-08-24      9.095    52100
 2022-08-25      8.000    23700
 2022-08-26      8.320     7000
 2022-08-29      7.180    36600
 2022-08-30      6.510    14100
 ...               ...      ...
 2023-05-15      0.207  2845100
 2023-05-16      0.190  2862300
 2023-05-17      0.183  1054200
 2023-05-18      0.172  1208500
 2023-05-19      0.173  1522900

 [186 rows x 2 columns],
 'HAIN':             Adj Close   Volume
 Date
 2003-05-27      8.485   219800
 2003-05-28      8.610   374200
 2003-05-29      8.545   325400
 2003-05-30      8.640   470200
 2003-06-02      8.595   819000
 ...               ...      ...
 2023-05-15     14.100  1086000
 2023-05-16     13.500   852300
 2023-05-17     13.630   969400
 2023-05-18     13.360   754200
 2023-05-19     13.320   856600

 [5032 rows x 2 columns],
 'SFM':             Adj Close    Volume
 Date
 2013-08-01  40.110001  14759200
 2013-08-02  39.980000   2108800
 2013-08-05  41.130001    789500
 2013-08-06  39.770000    711500
 2013-08-07  39.299999   1120300
 ...               ...       ...
 2023-05-15  36.279999   2346100
 2023-05-16  36.259998   1185000
 2023-05-17  36.209999   1485200
 2023-05-18  36.189999    727400
 2023-05-19  36.779999   1278700

 [2468 rows x 2 columns],
 'CHKP':              Adj Close   Volume
 Date
 2003-05-27   17.549999  3401800
 2003-05-28   18.200001  8223700
 2003-05-29   18.650000  7963500
 2003-05-30   18.780001  3491200
 2003-06-02   18.180000  5539300
 ...                ...      ...
 2023-05-15  120.070000   870600
 2023-05-16  119.989998   639700
 2023-05-17  119.339996   957700
 2023-05-18  119.139999  1263900
 2023-05-19  121.419998   904100

 [5032 rows x 2 columns],
 'GTH':             Adj Close    Volume
 Date
 2020-06-15     16.000  12288000
 2020-06-16     16.000         0
 2020-06-17     16.000         0
 2020-06-18     16.000         0
 2020-06-19     16.000  12288000
 ...               ...       ...
 2023-05-15      0.940     14000
 2023-05-16      0.940     24900
 2023-05-17      0.870    140500
 2023-05-18      0.870     16000
 2023-05-19      0.935     15900

 [739 rows x 2 columns],
 'LRGF':             Adj Close  Volume
 Date
 2015-04-30  21.488882    1000
 2015-05-01  21.697933    3200
 2015-05-04  21.854723     600
 2015-05-05  21.558571     100
 2015-05-06  21.358221    3100
 ...               ...     ...
 2023-05-15  41.389999   42900
 2023-05-16  41.020000   49500
 2023-05-17  41.577000   64100
 2023-05-18  41.980000  121300
 2023-05-19  41.869999  108600

 [2029 rows x 2 columns],
 'KDNY':              Adj Close   Volume
 Date
 2015-04-15  210.000000  1376840
 2015-04-16  197.000000   483760
 2015-04-17  200.000000   133600
 2015-04-20  214.000000   233920
 2015-04-21  193.350006   177660
 ...                ...      ...
 2023-05-15   23.400000   435900
 2023-05-16   22.350000  3573500
 2023-05-17   21.510000  1250600
 2023-05-18   21.379999   701100
 2023-05-19   21.330000   751600

 [2040 rows x 2 columns],
 'LNT':             Adj Close   Volume
 Date
 2003-05-27   4.904508   990600
 2003-05-28   4.796531   763200
 2003-05-29   4.719749   949400
 2003-05-30   4.794132   779000
 2003-06-02   4.858918   457400
 ...               ...      ...
 2023-05-15  54.000000  1146900
 2023-05-16  53.270000  1282200
 2023-05-17  52.759998  1045500
 2023-05-18  52.639999  1077100
 2023-05-19  52.610001  1719000

 [5032 rows x 2 columns],
 'WFC':             Adj Close    Volume
 Date
 2003-05-27  13.715394  11612200
 2003-05-28  13.576077   9306600
 2003-05-29  13.524900   8581400
 2003-05-30  13.732452   9508600
 2003-06-02  13.903039  11376600
 ...               ...       ...
 2023-05-15  38.770000  24405800
 2023-05-16  38.389999  21821200
 2023-05-17  40.459999  29241600
 2023-05-18  40.209999  27213900
 2023-05-19  40.029999  19769800

 [5032 rows x 2 columns],
 'DAO':             Adj Close   Volume
 Date
 2019-10-25      12.50  3939900
 2019-10-28      12.40   736000
 2019-10-29      13.75   526600
 2019-10-30      15.00   497600
 2019-10-31      15.00        0
 ...               ...      ...
 2023-05-15       5.08   170300
 2023-05-16       5.12   109100
 2023-05-17       5.06   124500
 2023-05-18       4.96   133300
 2023-05-19       5.09   151200

 [898 rows x 2 columns],
 'SKM':             Adj Close  Volume
 Date
 2003-05-27  23.977545  187927
 2003-05-28  24.478867  383503
 2003-05-29  24.650749  242132
 2003-05-30  25.710691  326748
 2003-06-02  25.195040  444385
 ...               ...     ...
 2023-05-15  20.920000  326300
 2023-05-16  20.340000  445000
 2023-05-17  20.430000  323800
 2023-05-18  20.570000  579000
 2023-05-19  20.639999  836400

 [5032 rows x 2 columns],
 'TREX':             Adj Close   Volume
 Date
 2003-05-27   5.191250   634400
 2003-05-28   5.222500   273600
 2003-05-29   5.322500   578400
 2003-05-30   5.356250   548000
 2003-06-02   5.456250   585600
 ...               ...      ...
 2023-05-15  57.520000   796100
 2023-05-16  55.959999  1006600
 2023-05-17  57.110001  1585900
 2023-05-18  57.689999   824600
 2023-05-19  56.560001  1261800

 [5032 rows x 2 columns],
 'AAP':              Adj Close   Volume
 Date
 2003-05-27   17.717571  2463600
 2003-05-28   17.688036  2762700
 2003-05-29   17.454710  1957800
 2003-05-30   17.566944  1506000
 2003-06-02   18.340740  2718900
 ...                ...      ...
 2023-05-15  121.949997   970700
 2023-05-16  117.339996  1015800
 2023-05-17  122.099998  1190600
 2023-05-18  121.480003   737700
 2023-05-19  117.410004   962800

 [5032 rows x 2 columns],
 'BJRI':             Adj Close  Volume
 Date
 2003-05-27   8.270608   50500
 2003-05-28   8.290069   24800
 2003-05-29   8.319260   31300
 2003-05-30   8.153846   34600
 2003-06-02   7.949513   40800
 ...               ...     ...
 2023-05-15  30.400000  231600
 2023-05-16  30.459999  198300
 2023-05-17  32.570000  359600
 2023-05-18  33.389999  364900
 2023-05-19  32.340000  509700

 [5032 rows x 2 columns],
 'HOMB':             Adj Close   Volume
 Date
 2006-06-23   3.164974  7708219
 2006-06-26   3.354873  1632787
 2006-06-27   3.465647  1400414
 2006-06-28   3.543188   615859
 2006-06-29   3.560595   310781
 ...               ...      ...
 2023-05-15  20.490000  1179000
 2023-05-16  20.350000  1336300
 2023-05-17  21.590000  1724300
 2023-05-18  21.820000  1118000
 2023-05-19  21.350000  1029200

 [4256 rows x 2 columns],
 'MIDD':              Adj Close  Volume
 Date
 2003-05-27    1.904485   67800
 2003-05-28    1.904485   44400
 2003-05-29    1.906127   40800
 2003-05-30    1.912695  196800
 2003-06-02    1.896277  149400
 ...                ...     ...
 2023-05-15  141.279999  344800
 2023-05-16  137.270004  618900
 2023-05-17  140.960007  740500
 2023-05-18  142.229996  294200
 2023-05-19  140.699997  379100

 [5032 rows x 2 columns],
 'CONN':             Adj Close   Volume
 Date
 2003-11-25  15.040000  3643500
 2003-11-26  15.600000   508400
 2003-11-28  15.900000    83900
 2003-12-01  16.190001   237600
 2003-12-02  16.100000   120400
 ...               ...      ...
 2023-05-15   4.330000   170500
 2023-05-16   4.000000   184300
 2023-05-17   4.290000   227400
 2023-05-18   4.480000   133900
 2023-05-19   4.290000   111400

 [4904 rows x 2 columns],
 'SMPL':             Adj Close   Volume
 Date
 2017-07-10  12.000000     2400
 2017-07-11  12.000000   442700
 2017-07-12  12.230000   391400
 2017-07-13  12.000000    68400
 2017-07-14  11.990000  1491600
 ...               ...      ...
 2023-05-15  39.869999   405400
 2023-05-16  39.680000   337100
 2023-05-17  38.410000  1297700
 2023-05-18  38.450001   462900
 2023-05-19  37.720001   609600

 [1477 rows x 2 columns],
 'TK':             Adj Close   Volume
 Date
 2003-05-27  12.630135   624800
 2003-05-28  12.537084   325600
 2003-05-29  12.546089   195400
 2003-05-30  12.621128   419200
 2003-06-02  12.420031   525600
 ...               ...      ...
 2023-05-15   5.900000   943100
 2023-05-16   5.820000   501800
 2023-05-17   5.800000   568200

In [3]:
df = web.DataReader('AAPL', data_source='yahoo', start='2020-1-1', end='2022-09-03')
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,73.683563
2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,72.967216
2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,73.548630
2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,73.202728
2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.380287
...,...,...,...,...,...,...
2022-08-29,162.899994,159.820007,161.149994,161.380005,73314000.0,161.380005
2022-08-30,162.559998,157.720001,162.130005,158.910004,77906200.0,158.910004
2022-08-31,160.580002,157.139999,160.309998,157.220001,87991100.0,157.220001
2022-09-01,158.419998,154.669998,156.639999,157.960007,74229900.0,157.960007
2022-09-02,160.360001,154.970001,159.750000,155.809998,76905200.0,155.809998

In [25]:
df['Return'] = df['Close'].pct_change()
df['risk'] = df['Low']/df['Close'].shift(1)
df

,High,Low,Open,Close,Volume,Adj Close,Return,risk
Date,,,,,,,,
2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,73.683563,NaN,NaN
2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,72.967216,-0.009722,0.987182
2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,73.548630,0.007968,0.984265
2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,73.202728,-0.004703,0.992262
2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.380287,0.016086,0.995878
...,...,...,...,...,...,...,...,...
2022-08-29,162.899994,159.820007,161.149994,161.380005,73314000.0,161.380005,-0.013690,0.976776
2022-08-30,162.559998,157.720001,162.130005,158.910004,77906200.0,158.910004,-0.015305,0.977321
2022-08-31,160.580002,157.139999,160.309998,157.220001,87991100.0,157.220001,-0.010635,0.988862
2022-09-01,158.419998,154.669998,156.639999,157.960007,74229900.0,157.960007,0.004707,0.983781
2022-09-02,160.360001,154.970001,159.750000,155.809998,76905200.0,155.809998,-0.013611,0.981071

In [30]:
mean_return = df['Return'].mean()
std_return = df['Return'].std()

df['buy'] = df.apply(lambda x: 1 if (1-x['risk'])/x['Return'] < 0.2 and x['Return'] > mean_return + std_return else 0, axis=1)
df

C:\Users\Michael\AppData\Local\Temp\ipykernel_34332\889147653.py:4: RuntimeWarning: divide by zero encountered in double_scalars
  df['buy'] = df.apply(lambda x: 1 if (1-x['risk'])/x['Return'] < 0.2 and x['Return'] > mean_return + std_return else 0, axis=1)

,High,Low,Open,Close,Volume,Adj Close,Return,risk,buy
Date,,,,,,,,,
2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,73.683563,NaN,NaN,0
2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,72.967216,-0.009722,0.987182,0
2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,73.548630,0.007968,0.984265,0
2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,73.202728,-0.004703,0.992262,0
2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.380287,0.016086,0.995878,0
...,...,...,...,...,...,...,...,...,...
2022-08-29,162.899994,159.820007,161.149994,161.380005,73314000.0,161.380005,-0.013690,0.976776,0
2022-08-30,162.559998,157.720001,162.130005,158.910004,77906200.0,158.910004,-0.015305,0.977321,0
2022-08-31,160.580002,157.139999,160.309998,157.220001,87991100.0,157.220001,-0.010635,0.988862,0
2022-09-01,158.419998,154.669998,156.639999,157.960007,74229900.0,157.960007,0.004707,0.983781,0
2022-09-02,160.360001,154.970001,159.750000,155.809998,76905200.0,155.809998,-0.013611,0.981071,0

In [57]:
# 20 days train data

train = []
test=[]
for i in range(20, len(df)):
    train.append(df.iloc[i-20:i, 3].values)
    test.append(df.iloc[i, -1])
# make train a 3d array
train = np.array(train)
test = np.array(test)
test.reshape(-1,1)

(654, 20)

In [58]:
# build random forest model
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [59]:
train_x, test_x, train_y, test_y = train_test_split(train, test, test_size=0.2, random_state=0)

In [60]:
rf = RandomForestClassifier(n_estimators=3, max_depth=10, random_state=0)
rf.fit(train_x, train_y)

RandomForestClassifier(max_depth=10, n_estimators=3, random_state=0)

In [65]:
pred = rf.predict(test_x)
accuracy_score(test_y, pred)

array([1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [69]:

combined = pd.concat((pd.Series(test_y), pd.Series(pred)), axis=1)
combined.columns = ['actual', 'pred']
combined

     actual  pred
0         1     0
1         0     0
2         0     0
3         0     0
4         0     0
..      ...   ...
126       0     0
127       0     0
128       0     0
129       0     0
130       0     0

[131 rows x 2 columns]